:root {
  --cinza-medio: #686868;
  --cinza-escuro: #242424;
  --cinza-claro: #9d9d9d;
  --azul-claro: #00ADEF;
  --azul-escuro: #008BC0;
  --bg-claro: #f7f7f7;
}

body {
  font-family: "JetBrains Mono", monospace;
  color: var(--cinza-escuro);
  margin: 0;
  background: white;
  padding-bottom: 40px;
}

header {
  text-align: left;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left:3.5%;
  /* border-bottom: 2px solid var(--azul-claro); */
}

.logo {
  width: 330px;
}

.icone-apoio {
  width: 10px;   
  height: 10px;
  vertical-align: middle;
  margin-left: 3px;
  margin-right: 2px;
}

.icone-email {
  width: 17px;   
  height: 17px;
  vertical-align: middle;
  margin-left: 5px;
  margin-right: 6px;
}

.leituras li, .leituras p {
  color:var(--cinza-medio)
}

.leituras p {
  font-size: 0.9rem;
  margin-left: 20px;
}

.leituras a{
  color:var(--azul-escuro);
  font-weight: bold;
}

.container {
  width: 90%;
  background-color: #f5f5f5;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  /* max-width: 900px; */
  margin: auto;
  display: grid;
  gap: 20px;
}

h1 {
  color: var(--azul-escuro);
  font-size: 1.6rem;
}

h2 {
  color: var(--azul-claro);
  font-size: 1.2rem;
  /* border-bottom: 1px solid var(--cinza-claro);
  padding-bottom: 5px; */
}

a {
  color: var(--azul-claro);
  text-decoration: none;
  font-style: italic;
}

a:hover {
  text-decoration: underline;
}

p {
 font-size: 1rem
}
li {
 font-size: 1rem
}

/* Info grid */
.info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.tabela{
  padding-top: 15px;
}

/* Tabela */
.tabela table {
  width: 100%;
  border-collapse: collapse;
  font-size: 0.95rem;
}

.tabela th {
  background: var(--azul-escuro);
  color: white;
  text-align: left;
  padding: 8px;
}

.tabela td {
  border: 3px solid var(--azul-escuro);
  padding: 8px;
}

th{
  border: 3px solid var(--azul-escuro);
}

.aviso {
  font-size: 0.7rem;
  color: red;
  margin-top: 10px;
  margin-bottom: 0;
}
.aviso_rodape {
  font-size: 0.7rem;
  margin-top: 0px;
  color:var(--cinza-medio)
}

/* Professores */
.grid-prof {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  text-align: center;
}

/* .prof
{
  cursor: pointer;
} */
.prof-link
{
  display: block;
  text-decoration: none !important;
  color: inherit;
}
.prof .photo {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid var(--azul-claro);
}


.prof p{
  margin:0;
}

.prof_name{
  font-weight: bolder;
  font-style: normal;
  color: var(--azul-escuro);
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.prof_email{
  font-weight: bold;
  font-size: 0.8rem !important;
  color: var(--azul-claro);
  font-style: normal;
}

.prof_dp{
  font-style: normal;
  font-size: 0.7rem !important;
  color: var(--cinza-medio);
}

.prof_uni{
  font-weight: bold;
  font-size: 0.7rem !important;
  font-style: normal;
  color: var(--cinza-medio);
}

.title{
  color:var(--azul-escuro);
  letter-spacing: 0.1rem;
  font-size: 1.5rem;
}

.icone-mail-prof{
  width: 18px;   
  height: 18px;
  vertical-align: middle;
  margin-right: 3px;
  margin-bottom: 3px;
}

.grid-comite {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  text-align: center;
  padding-left: 20%;
  padding-right: 20%;
}

.membro{
  cursor: pointer;
  text-decoration: none !important;
}

.photo_membro {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid var(--azul-claro);
  object-fit: cover;
  margin-bottom: 15px;
}

.membro p{
  color:var(--cinza-medio);
  margin:0;
  font-style: normal;
}

.membro_icon{
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-right: 3px;
}

.membro_mail{
  font-size: 0.8rem !important;
}

/* Apoiadores */
.apoio {
  text-align: center;
}

.apoio {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.grid-logos {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding-left: 10%;
  padding-right: 10%;
}

.grid-logos img {
  width: 110px;
  margin: auto;
}

.logo_log{
  width: 300px !important;
}

.rodape {
  margin-top: 20px;
}

.rodape p{
  margin: 0px;
}

.data, .local{
  color:var(--cinza-claro);
  font-size: 0.8rem !important;
  font-weight: bold;
}

.duvida{
  font-size: 0.85rem;
  color: var(--cinza-medio);
  margin-top: 10px !important;
}

.apoio-tec {
  font-size: 0.8rem;
  color: var(--cinza-claro);
  text-align: center;
  padding: 0px 10px;
}

.estrutura {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: start;
  gap: 50px;
}

.estrutura li{
  margin-bottom: 10px;
}

.aviso, .aviso_rodape {
  text-align: end;
}

.professores, .comite, .apoiadores {
  text-align: center;
}

.professores h2, .comite h2, .apoiadores h2 {
  margin-bottom: 65px;
  margin-top: 50px;
}

.line {
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
}

.intro p{
  text-align: justify;
}

.justify {
  text-align: justify;
}

/* Responsividade */
@media (max-width: 768px) {
  .info {
    grid-template-columns: 1fr;
  }

  h1 {
    font-size: 1.2rem;
  }
  h2 {
    font-size: 1.1rem;
  }
  p {
    font-size: 0.85rem;
  }
  li {
    font-size: 0.85rem;
  }
  header {
    text-align: center;
    background-color: #f5f5f5;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left:0px;
  }

  .container {
    background-color: #ffffff;
    padding-left: 20px;
    padding-right: 20px;
    width: auto;
  }

  .logo {
    width: 220px;
  }

  .tabela table, .tabela td, .tabela th {
    font-size: 0.85rem;
  }

  .estrutura{
    gap:10px;
  }

  .justify{
    padding-right: 5px;
  }

  .prof_dp, .prof_uni {
    font-size: 0.65rem !important;
  }

  .prof_name{
    font-size: 0.9rem;
  }

  .grid-logos{
    padding: 0%;
  }
  
  .aviso, .aviso_rodape{
    font-size: 0.65rem;
    text-align: left;
  }
}

/* ===== Chrome, Edge, Safari ===== */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: var(--cinza-claro);
  border-radius: 10px;      
  border: 2px solid #f0f0f0;
  margin: 2px;              
}
::-webkit-scrollbar-thumb:hover {
  background: var(--azul-escuro);
}

